body {
  font-family: "Poppins", sans-serif;
}

.bg-dark-blue {
  background-color: #264653;
}

.fill-color {
  fill: #e76f51;
}

.bg-svg {
  background-color: #e76f5179;
}

.text-color-orng {
  color: #e76f51;
}

.btn-bg-color {
  background-color: #e76f51;
}

/* Grayscale  */
.filtered {
  filter: grayscale(100%);
}

/* 
    There was a little bit horizontal sroll
    in mobile device. i google it. and found the fix
    from stack overflow. and it worked.
*/

@media screen and (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}
